{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #e7effa;
      padding: 20px;
    "
  >
    <div
      style="
        width: 100%;
        max-width: 660px;
        margin: 0 auto;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      "
    >
      <!-- Header Image -->
      <img
        alt="header-image"
        src="{% static 'img/base/header-image.png' %}"
        style="
          width: 100%;
          height: auto;
          display: block;
          border-bottom: 1px solid #dddddd;
        "
      />

      <!-- Main Content Block -->
      <div style="padding: 20px">
        {% block base_content %} {% endblock %} lorem3000
      </div>

      <!-- Footer -->
      <table
        width="100%"
        cellpadding="0"
        cellspacing="0"
        style="background-color: #f7f7f7; border-top: 1px solid #dddddd"
      >
        <tr>
          <td style="padding: 20px; font-size: 0">
            <div
              style="
                display: inline-block;
                width: 100%;
                max-width: 160px;
                vertical-align: top;
                padding: 0 10px 20px 0;
              "
            >
              <img
                alt="logo"
                src="{% static 'img/base/logo.png' %}"
                style="
                  width: 105px;
                  height: auto;
                  display: block;
                  max-width: 100%;
                "
              />
            </div>

            <div
              style="
                display: inline-block;
                width: 100%;
                max-width: 220px;
                vertical-align: top;
                padding-bottom: 20px;
                font-weight: 500;
                color: #333333;
              "
            >
              <p style="margin: 0 0 5px 0; font-size: 12px">
                Let us help you scale!
              </p>
              <p style="margin: 0 0 10px 0; font-size: 12px">
                Finance, Marketing, Sales, DevOps, Contact Center
              </p>
              <a
                href="https://1840andco.com"
                style="
                  color: #083b38;
                  text-decoration: none;
                  font-weight: bold;
                  font-size: 12px;
                "
                >Visit: 1840andco.com</a
              >
            </div>

            <div
              style="
                display: inline-block;
                width: 100%;
                max-width: max-content;
                vertical-align: top;
                border-left: 1px solid #dddddd;
                padding: 0 0 10px 20px;
                font-weight: 500;
                color: #333333;
              "
            >
              <p style="margin: 0 0 5px 0; font-size: 12px">
                Creative Planning Plaza
              </p>
              <p style="margin: 0 0 5px 0; font-size: 12px">
                Building 2, Suite 300 5440
              </p>
              <p style="margin: 0 0 5px 0; font-size: 12px">
                West 110th Street Overland
              </p>
              <p style="margin: 0 0 10px 0; font-size: 12px">Park, KS 66211</p>

              <!-- Social Icons -->
              <table cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding-right: 10px">
                    <a href="https://www.facebook.com/1840andCompany/">
                      <img
                        alt="facebook"
                        src="{% static 'img/base/facebook.png' %}"
                        width="16"
                        height="16"
                        style="display: block"
                      />
                    </a>
                  </td>
                  <td style="padding-right: 10px">
                    <a href="https://twitter.com/1840andCompany">
                      <img
                        alt="twitter"
                        src="{% static 'img/base/twitter.png' %}"
                        width="16"
                        height="16"
                        style="display: block"
                      />
                    </a>
                  </td>
                  <td style="padding-right: 10px">
                    <a href="https://www.linkedin.com/company/1840-company/">
                      <img
                        alt="linkedin"
                        src="{% static 'img/base/linkedin.png' %}"
                        width="16"
                        height="16"
                        style="display: block"
                      />
                    </a>
                  </td>
                  <td>
                    <a href="https://www.instagram.com/1840andco/">
                      <img
                        alt="instagram"
                        src="{% static 'img/base/instagram.png' %}"
                        width="16"
                        height="16"
                        style="display: block"
                      />
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
