{% extends "all_template.html" %}

{% block content %}
    <div style="width: 100%;">
    <p>Hi there,</p>

        <p>Just a quick reminder, your invite to join <b>1840 Global Talent Cloud</b> is still open!</p>
        <br/>
        <p>Companies are actively searching for talent on the platform, and completing your profile is the first step to getting discovered.</p>


     <p>It only takes a few minutes to get started.</p>
    <a href="{{link}}"><b>Join 1840 Global Talent Cloud</b></a>
        <br/>
        <p>If you’ve been meaning to take a look, now’s a great time.</p>

  <br/>


    <p>Warm Regards,</p>
    <p>The 1840 Team</p>
    </div>


{% endblock %}