{% extends "all_template.html" %}

{% block content %}
    <div style="width: 100%;">
    <p>Hi there,</p>

        <p>You’re invited to join <b>1840 Global Talent Cloud</b>, a smarter way to discover opportunities and connect with companies looking for talent like yours.</p>
        <br/>
        <p>By joining, you’ll be able to:</p>
        <ul>
            <li>Create your professional profile in minutes</li>
            <li>Get matched to relevant job opportunities</li>
            <li>Be discovered by top recruiters and companies</li>
            <li>Stay updated on roles that fit your experience and goals</li>
        </ul>

     <p>Getting started is quick and easy, just click the link below and complete your profile</p>
        <a href="{{link}}"><b>Join 1840 Global Talent Cloud</b></a>
        <br/>
        <p>We’re excited to have you on board and help you take the next step in your career.</p>
    <p>If you have any questions, feel free to reply to this email, we’re here to help.</p>

  <br/>


    <p>Warm Regards,</p>
    <p>The 1840 Team</p>
    </div>


{% endblock %}