{% extends "all_template.html" %}

{% block content %}
    <div style="width: 100%;">
    <p>Hi there,</p>

        <p>Just a final reminder that your invitation to join <b>1840 Global Talent Cloud</b> is still available.</p>
        <br/>
        <p>If you’re open to new opportunities, this is an easy way to get discovered by companies and recruiters searching for talent like yours.</p>


        <a href="{{link}}"><b>Join 1840 Global Talent Cloud</b></a>
        <br/>
        <p>You can sign up anytime by visiting our website and creating your profile in just a few minutes.</p>
    <p>We’d love to have you on the platform.</p>

  <br/>


    <p>The 1840 Team</p>
    </div>


{% endblock %}