<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFejISvHB6NNkmttnUnHtZD8v/KhyGPuSoWg7+RGzP60i4I+mW" crossorigin="anonymous">

  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f8f9fd;
      padding: 20px;
      min-height: 100vh;
      overflow-x: auto;
    "
  >
    <div
      style="
        width: 862px;
        height: fit-content;
        border-radius: 17px;
        background-color: white;
        margin: auto;
        padding: 25px;
        box-shadow: 0px 0px 15px rgba(0, 0, 3, 0.1);
      "
    >
      <!-- top section -->
      <div
        style="
          display: flex;
          gap: 15px;
          padding-bottom: 10px;
          border-bottom: 1px solid #c4c4c4;
        "
      >
        <img
          alt="avatar"
          src="{{talent.photo_url}}"
          style="
            width: 130px;
            height: 110px;
            object-fit: cover;
            border-radius: 7px;
          "
        />
        <div style="display: flex; flex-direction: column; gap: 10px">
          <h1 style="font-size: 30px; font-weight: 700; margin: 0">
            {{ talent.name }}
          </h1>
          <div style="line-height: 1.25rem">
            {{ talent.bio }}
          </div>
        </div>
      </div>

      <!-- body section -->
      <div style="width: 100%; display: flex; margin-top: 10px">
        <div
          style="
            width: 240px;
            border-right: 1px solid #c4c4c4;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;
          "
        >
          <!-- each details card -->
          <div>
            <h2
              style="
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: 10px;
                margin-top: 0;
              "
            >
              Contact details
            </h2>
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.85rem;
                margin-bottom: 6px;
                color: #515151;
              "
            >
              <span class="bg-primary">Email:</span>
              <span>{{ talent.email}}</span>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.85rem;
                margin-bottom: 6px;
                color: #515151;
              "
            >
              <span>Phone:</span>
              <span>{{ talent.phone_number }}</span>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.85rem;
                margin-bottom: 6px;
                color: #515151;
              "
            >
              <span>Address:</span>
              <span> {{ talent.address }} </span>
            </div>
          </div>

          <div>
            <h2
              style="
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: 10px;
                margin-top: 0;
              "
            >
              Languages
            </h2>
            <div style="font-size: 0.85rem; color: #515151">
              <span>{{ talent.languages }}</span>
            </div>
          </div>
      {% for skill in talent.skills %}
          {% if skill.skills %}
               <div>
            <h2
              style="
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: 10px;
                margin-top: 0;
              "
            >
              {{ skill.category }}
            </h2>
            <ul style="margin: 0; margin-left: -20px">
              {% for skill_item in skill.skills %}
                  <li
                style="font-size: 0.85rem; margin-bottom: 6px; color: #515151"
              >
                {{ skill_item.name }}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
      {% endfor %}
          <div>
            <h2
              style="
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: 10px;
                margin-top: 0;
              "
            >
              Notice Period
            </h2>
            <div style="font-size: 0.85rem; color: #515151">
              <span>{{ talent.notice_period}}</span>
            </div>
          </div>

          <div>
            <h2
              style="
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: 10px;
                margin-top: 0;
              "
            >
              Availability
            </h2>
            {% for availability in talent.availability %}
                {% if availability.availability %}
                <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.85rem;
                margin-bottom: 6px;
                color: #515151;
              "
            >
              <span>{{ availability.day }}:</span>
              <span>{{ availability.availability.start_time }} - {{ availability.availability.end_time }}</span>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>

        <div
          style="
            width: calc(852px - 240px - 40px);
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;
          "
        >
          <h2
            style="
              font-size: 0.9rem;
              font-weight: 700;
              margin-bottom: 10px;
              margin-top: 0;
            "
          >
            Education
          </h2>
    {% for education in talent.education_history %}
        <div>
            <h2
              style="
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: 10px;
                margin-top: 0;
              "
            >
             {{ education.university}}
            </h2>
            <div style="font-size: 0.85rem; color: #515151">
              <span>{{ education.major }}</span>
            </div>
            <div style="font-size: 0.85rem; color: #515151">
              <span>{{ education.start_date}} - {{ education.end_date }}</span>
            </div>
          </div>
    {% endfor %}

          <h2
            style="
              font-size: 0.9rem;
              font-weight: 700;
              margin-bottom: 10px;
              margin-top: 30px;
            "
          >
            Experience
          </h2>
          {% for experience in talent.experience_history %}
              <div>
            <h2
              style="
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: 10px;
                margin-top: 0;
              "
            >
              {{ experience.role.name }}
            </h2>
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.85rem;
                margin-bottom: 6px;
                color: #515151;
              "
            >
              <span>{{ experience.employment_type.name }} - {{ experience.company }}</span>
              <span>{{ experience.duration }} {% if experience.currently_working %} (Present) {% endif %}</span>
            </div>
          </div>
          {% endfor %}

          <img
            alt="logo"
            src="{{asset_url}}/resumee/logo.png"
            style="
              margin-top: auto;
              margin-left: auto;
              width: 126px;
              height: 28px;
              object-fit: cover;
            "
          />
        </div>
      </div>
    </div>
  </body>
</html>
